.amount_page {
  width: 100%;
  padding-bottom: 60px;
  padding-top: 100px;
  .title_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: -16px -16px 20px;
    padding: 16px;
    background-color: #eee;
    .date {
      flex-basis: 140px;
      font-size: 24px;
      font-weight: 500;
      color: #333;
    }
    .right {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .cost {
        &:last-of-type {
          margin-left: 20px;
        }
        :global {
          .iconfont {
            font-size: 24px;
            margin-right: 4px;
            color: #a062d4;
          }
        }
      }
    }
  }
  .content {
    padding: 10px 0;
    & + .content {
      border-top: 1px solid #eee;
    }
    .detailed {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      margin-bottom: 10px;
      .icon_box {
        display: flex;
        align-items: center;
      }
      :global {
        .iconfont {
          font-size: 24px;
          color: #a062d4;
          margin-right: 10px;
        }
      }
      .number {
        color: #13c2c2;
      }
    }
    .time {
      margin-bottom: 10px;
    }
  }
}
